@import url('https://fonts.googleapis.com/css?family=Lobster&display=swap" rel="stylesheet"');
@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900&display=swap" rel="stylesheet"');
@import url('https://fonts.googleapis.com/css?family=Exo:300,400,500,600,700,800,900&display=swap" rel="stylesheet"');

header {
    margin: 0;
}

body {
    margin: 0;
}

footer {
    margin: 0;
}

/* ----------------------------------------------------------------------------- Home -----*/

/* ---------------------------- Sign In Alert -----*/

.sign-in-container {
    /*position: absolute;*/
    top: 0;
    padding: 0; 
    z-index: 1;
}

.sign-in-alert {
    background-color: #c32232;
    border: 1px solid transparent;
    padding: 5px 15px;
    margin-bottom: 0;
    border-radius: 0;
}

.btn-sm {
    font-size: 12px;
    font-weight: bold;
}

.btn-danger {
    color: #fff;
    background-color: #c32232;
    border-color: #c32232;
}

.btn-danger:hover, .btn-danger:focus, .btn-danger:active, .btn-danger.active, .open>.dropdown-toggle.btn-danger {
    color: #fff;
    background-color: #ad1f2d;
    border-color: #ad1f2d; 
}


/* ---------------------------- Navbar -----*/

.bg-navbar-left {
    background-color: #000000;
}

.bg-navbar-right {
    background-color: #000000;
}


/* -----------------------------navbar left */

.logo {
    
    font-family: "Lobster", sans-serif;
    font-weight: 100;
    font-size: 40px;
    margin: 20px;
    text-shadow: 2px 1px #981b27;
    
}



.logo a {
  text-decoration: none;
  color: #ffffff;
}



.navbar-left {
    background-size: cover;
    height: 70px;
    text-align: center;
    padding: 0;
}

@media screen and (min-width: 768px) {
    
    .navbar-left {
        background-size: cover;
        height: 100px;
        text-align: center;
        padding: 0;
    }
}


/* -----------------------------navbar right */

/* ------for small screens */

.navbar-right {
    height: 50px;
    padding: 0;
    text-align: center;
}


.menuitems {
    font-size: 12px;
    padding: 0;
    margin-top: 1rem;
    margin-bottom: 0;
    
}

.menuitems a {
    text-decoration: none;
    color: #ffffff;
}

.menuitems span {
    display: block;
    text-transform: uppercase;
    font-weight: 200;
    letter-spacing: 1px;
    padding-right: 0px;

}


/*----------------------------Hover manipulate */

.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
    color: #dc3545;
    font-weight: 500;
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}





/* ------for large screens */

@media screen and (min-width: 768px) {
    
    .navbar-right {
        height: 100px;
        padding: 0;
        text-align: right;
    }

    .menuitems {
        font-size: 14px;
        padding: 0;
        margin-top: 60px;
        margin-right: 20px;
    }
    
    .menuitems span {
        display: block;
        text-transform: uppercase;
        font-weight: 200;
        letter-spacing: 2px;
        padding-right: 10px;
    
    }

}



/*---------------------------- Main Image and Testimonial */

.first-background-image {
    height: 100vh;
    background: url('../images/01-background-home-top-image.jpg') no-repeat top center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .5s ease-in-out;
    position: relative;
    max-height: 600px;
}



/* Jumbotron */

.jumbotron {
    background-color: transparent;
}

.jumbotron h4 {
    font-family: "Roboto", sans-serif;
    color: #ffffff;
    /*text-transform: uppercase;*/
    font-size: 24px;
    max-width: 500px;
    font-weight: 400;
    
}

.jumbotron span {
    font-weight: 500;
}

.jumbotron p {
    font-family: "Roboto", sans-serif;
    color: #f5f2d0;
}

/*---------- Listen to Sandstrom Man Button Manipulation (and other buttons) */

.btn-outline-secondary {
    color: #ffffff;
    border-color: #ffffff;
    border-radius: 0;
    transition: .3s;
}

.btn-outline-secondary:hover {
    color: #000000;
    background-color: #ffffff;
    border-color: #ffffff;
    font-weight: 700;
}




/*---------------------------- Welcome Section */

.bg-color-welcome {
        background-color: #000000;
}

}

#welcome-details {
    padding: 20px;
}

.welcome-heading {
    font-family: "Exo", sans-serif;
    color: #dc3545;
    margin-top: 25px;
    margin-bottom: 10px;
    margin-right: 10px;
    margin-left: 10px
    
}

.welcome-text {
   font-family: "Roboto", sans-serif;
   font-weight: 100;
   color: #f2f2f2;
   margin-bottom: 0px;
   margin-right: 10px;
   margin-left: 10px
}

.inline-block {
    display: inline-block;
}


/*---------------------------- Social Section */

.bg-color-social {
        background-color: #000000;
}


.social-details {
    padding: 25px;
    text-align: center;
    margin: 0;
    border: 0;
    outline: 0;
}


.social-links {
    margin-top: 10px;
    margin-bottom: 5px;
}

.social-links li a i {
    /*padding: 12px 0;*/
    border-radius: 50%;
    font-size: 16px;
    /*line-height: 7px;*/
    text-align: center;
    color: #d9d9d9;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
    color: #dc3545;
}

.book-us-button-text {
    font-family: "Exo", sans-serif;
    font-size: 15px;
    font-weight: 300;
    color: #d9d9d9;
    margin-bottom: 10px;
    max-width: 320px;
}

/*---------- Book Us Now Button Manipulation */

.book-us-btn button {
    color: #dc3545;
    border-color: #dc3545;
    border-radius: 0;
    transition: .3s;
}

.book-us-btn button:hover {
    color: #ad1f2d;
    background-color: #ffffff;
    border-color: #ffffff;
    font-weight: 700;
}


/*---------------------------- New Album Out Now */

.second-background-image {
    height: 100vh;
    background: url('../images/03-background-home-top-image.jpg') no-repeat top center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .5s ease-in-out;
    position: relative;
    max-height: 550px;
}

/*-- card manipulation */

.card-deck {
    margin-top: 20px;
}

.card-body {
    padding: 0.5rem;
    margin: 0;
    /*background-color: transparent;*/
    border: none;
    outline: none;
}

.album-text h3 {
    font-family: "Exo", sans-serif;
    color: #dc3545;
    margin-bottom: 5px;
    margin-top: 0;
    padding-top: 0;
    
}

.album-text h4 {
    font-family: "Exo", sans-serif;
    color: #ffffff;
    margin-bottom: 5px;
    
}

.album-text p {
   font-family: "Roboto", sans-serif; 
   font-size: 14px;
   font-weight: 100;
   color: #f2f2f2;
   margin-bottom: 10px;
}



/* -----------------------------Footer */

footer {
    background-color: #000000;
    min-height: 120px;
    text-align: center;
    margin: 0;
    position: relative;
}

.footer-content-center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.footer-social-links {
    margin: 0;
}

.footer-social-links li a i {
    padding: 12px 0;
    border-radius: 50%;
    font-size: 16px;
    text-align: center;
    color: #b3b3b3;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.footer-social-links li a i:hover {
    color: #dc3545;
}

.copyright-footer {
    font-family: "Roboto", sans-serif;
    font-size: 12px;
    color: #999999;
    font-weight: 200;
    margin: 0;
    min-width: 300px;
}

.copyright-footer a {
   color: #999999;
}

.copyright-footer a:link {
   text-decoration: none; 
   color: #999999;
   transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.copyright-footer a:hover {
  color: #dc3545;
}


/* ----------------------------------------------------------------------------- About -----*/


/*---------------------------- Main Image and Testimonial */

.about-first-background-image {
    height: 100vh;
    background: url('../images/05-background-about-top-image.jpg') no-repeat top center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .5s ease-in-out;
    position: relative;
    max-height: 600px;
}

/*---------------------------- Band Members */

/*.about-second-background-image {
    height: 100vh;
    background: url('../images/06-background-about-bottom-image.jpg') no-repeat top center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .5s ease-in-out;
    position: relative;
    max-height: 550px;
}*/

.about-second-background-image {
    background-color: #000000;
}

.band-members-text h4 {
    font-family: "Exo", sans-serif;
    color: #dc3545;
    margin-bottom: 5px;
}

.band-members-text p {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: 100;
    color: #d9d9d9;
    margin-bottom: 10px;
    /*text-align:justify;  
    text-justify:inter-character;*/
}

.learn-more-button {
    margin-top: 25px;
}



/* ----------------------------------------------------------------------------- Music -----*/


.bg-album {
        background-color: #000000;
}


.track-text {
    margin-bottom: 5px;
}

audio {
    margin-bottom: 10px;
}

